<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить пользователя</title>
</head>
<body>
    <form action="{% url 'add_user_data' %}" method="post">
        {% csrf_token %}
        <label for="organization_name">Название организации:</label>
        <input type="text" id="organization_name" name="organization_name"><br>

        <!-- Поля для ввода информации о пользователе -->
        <label for="full_name">ФИО:</label>
        <input type="text" id="full_name" name="fio"><br>

        <label for="phone">Телефон:</label>
        <input type="text" id="phone" name="phone_number"><br>

        <label for="email">Электронная почта:</label>
        <input type="text" id="email" name="email"><br>

        <label for="dob">Дата рождения:</label>
        <input type="text" id="dob" name="birthday_date"><br>

        <label for="address">Адрес подключения:</label>
        <input type="text" id="address" name="connection_address"><br>

        <!-- Кнопка для отправки формы -->
        <button type="submit">Добавить пользователя</button>
    </form>
</body>
</html>
