/* Фон страницы */
body {
    background-color: lightblue;
}

/* Стилизация поля ввода */
.input-field {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
}

/* Стилизация кнопки "Поиск" и "Добавить пользователя" */
.btn, .add-user-btn, .edit-user-btn, .delete-user-btn {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
}

/* Hover-эффект для кнопок */
.btn:hover, .add-user-btn:hover, .edit-user-btn:hover, .delete-user-btn:hover {
    background-color: #45a049; /* Темно-зеленый цвет при наведении */
}

/* Стилизация сообщения об ошибке */
.error-message {
    color: red;
}

/* Стилизация блока информации о пользователе */
.product-info {
    margin-top: 20px;
}

/* Стилизация каждой строки в блоке информации о пользователе */
.product-info ul li {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
